<div class="container">
 <div class="row">
  <style>
   label {
    width: 150px;
    margin: 15px 0;
   }

   .text_field {
    width: 60%;
   }

   h3 {
    padding: 20px 0 3% 5%;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    label {
     width: 100px;
     margin: 10px 0;
     font-size: 13px;
    }

    .field, .btn-primary {
     font-size: 13px;
    }

    .text_field {
     width: 55%;
    }

    h3 {
     font-size: 20px;
    }
   }
  </style>

  <div class="col-lg-10 offset-1">
   <h3>
    <span style="background-color: #e6dcdf;">
     管理者ログイン
    </span>
   </h3>
  </div>

  <div class="mx-auto", style="width: 60%">
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
     <label for="admin_email">メールアドレス</label>
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_field" %>
    </div>

    <div class="field">
     <label for="admin_password">パスワード</label>
     <%= f.password_field :password, autocomplete: "current-password", class: "text_field" %>
    </div>

    <div class="actions">
     <label></label>
     <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
   <% end %>
  </div>
 </div>
</div>