<div class="container">
 <div class="row">
  <style>
   .main-visual {
    width: 500px; /* 横幅500px */
    height: 350px; /* 高さ350px */
    margin: 20px 0 0 20px;
    background-image: url("<%= asset_path('top.jpg') %>");
    background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center; /* 背景画像を中央に配置 */
   }

   .main-visual-content {
    width: 400px; /* 横幅80% */
    height: 55%; /* 高さ55% */
    background-color: rgba(0, 0, 0, 0.4);  /* 背景色を40%透明の白にする */
    text-align: center; /* 文字を中央揃えにする */
    padding-top: 55px; /* 上側の内側余白で垂直方向の位置を調整 */
    color: white; /* 文字色 */
    line-height: 35px; /* 文字の行の高さ */
    position: absolute; /* 水平・垂直方向の中央揃え */
    top: 25%;
    left: 110px;
    margin: -25px 0 0 -25px; /* 完全に中央に配置するため、上・左の margin を負の数に設定 */
    }
  </style>

  <div class="col-lg-10 col-md-12 mx-auto">
   <div class="main-visual">
    <div class="main-visual-content">
     <p>
      ようこそ、ながのCAKE！へ</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
     </p>
    </div>
   </div>

   <h3 style="margin: 30px 0 0 20px">新着商品</h3>
  </div>

 </div>
</div>