<div class="container">
 <div class="row">
  <style>
   thead {
    color: rgba(0, 0, 0, 0.6);
    background-color: #e6dcdf;
   }
  </style>

  <div class="col-12 mx-auto">
   <h3 style="padding: 10px 0 30px 5%;">
    <span style="background-color: #e6dcdf;">会員一覧</span>
   </h3>
  </div>

  <div class="col-lg-10 col-md-10 mx-auto">
   <table class="table table-inverse">
    <thead>
     <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>
    </thead>

    <tbody style="color: rgba(0, 0, 0, 0.6);">
     <% @customers.each do |customer| %>
      <tr>
       <td>
        <%= customer.id %>
       </td>
       <td>
        <!--link_to customer.full_name, admin_customer_path(customer.id) %>-->
       </td>
       <td>
        <%= customer.email %>
       </td>
       <td>
        <!--customer.is_deleted.i18n %>-->
       </td>
      </tr>
     <% end %>
    </tbody>

   </table>

   <%= paginate @customers %>
  </div>
 </div>
</div>