<div class="container">
 <div class="row">
  <style>
   .complete {
    margin: 10% 0;
    background-image: url("<%= asset_path('complete.jpg') %>");
    background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center; /* 背景画像を中央に配置 */
   }

   .complete {
    width: 530px;
    height: 350px;
   }

   .thanks {
    background-color: rgba(0, 0, 0, 0.2);  /* 背景色を20%透明の黒にする */
   }

   .lace1, .lace2 {
    width: 530px;
    height: 70px;
    object-fit: cover; /* 画像の縦横比を維持 */
   }

   .lace1 {
    object-position: top 0px left 0px;
   }

   .lace2 {
    object-position: bottom 0px right 0px;
   }

   .thanks > p {
    font-size: 22px;
    color: white; /* 文字色を白にする */
    font-weight: bold; /* 太文字 */
   }

   .p1 {
    margin: 25px 0 5px 55px;
   }

   .p2 {
    margin: 0 0 112px 55px;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width: 768px) {
    .complete {
     width: 397px;
     height: 262px;
    }

    .lace1, .lace2 {
     width: 397px;
     height: 70px;
    }

    .thanks > p {
     font-size: 17px;
    }

    .p1 {
     margin: 15px 0 5px 45px;
    }

    .p2 {
     margin: 0 0 49px 45px;
    }
   }
  </style>

  <div class="mx-auto">
   <div class="complete">
    <div class="thanks">
     <%= image_tag 'lace.png', class: "lace1" %>
     <p class="p1">
      ご注文
     </p>
     <p class="p2">
      ありがとうございました！
     </p>
    <%= image_tag 'lace.png', class: "lace2" %>
    </div>
   </div>
  </div>

 </div>
</div>
