<div class="container">
 <div class="row">
  <style>

  </style>

  <div class="col-lg-12 mx-auto">
   <h3 style="padding: 10px 0 2% 10%;">
    <span style="background-color: #e6dcdf;">
     注文履歴詳細
    </span>
   </h3>
  </div>
  
  <div class="col-lg-"
 </div>
</div>